{% extends "base.html" %}
{% block title %}
  - Server Error
{% endblock title %}
{% block content %}
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
      <h1 class="display-1 fw-bold">Server Error</h1>
      <p class="fs-3">
        <span class="text-danger">Opps!</span> Something went wrong.
      </p>
      <p>
        We track these errors automatically, but if the problem persists feel free to contact us.
        In the meantime, try refreshing or head back to homepage.
      </p>
      <a href="{% url 'home' %}" class="btn btn-primary">Go Home</a>
    </div>
  </div>
{% endblock content %}
