{% load static %}
{% load account_forms %}
{% load compress %}
<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="iaru, amateur, radio" />
    <meta name="description"
          content="Since 1925, the Federation of National Amateur Radio Societies Representing the Interests of Two-Way Amateur Radio Communication"/>
    <title>IARU
      {% block title %}
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    {% compress css %}
      {% block css %}
      {% endblock css %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
    {% endcompress %}
  </head>
  <body class="d-flex flex-column h-100 bg-light">
    <nav class="navbar navbar-expand-lg bg-white border">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'iaru_logo.png' %}"
               alt="Logo"
               width="23"
               height="46"
               class="d-inline-block align-text-top me-3"/>
          IARU
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              {% url 'home' as home_url %}
              <a class="w-fit-content nav-link nav-link-underline link-dark {% if request.path == home_url %} nav-active{% endif %}"
                 aria-current="page"
                 href="{{ home_url }}">Home</a>
            </li>
            <li class="nav-item">
              {% url 'coordination-list' as coord_list_url %}
              <a class="w-fit-content nav-link nav-link-underline link-dark {% if request.path == coord_list_url %} nav-active{% endif %}"
                 href="{{ coord_list_url }}">All Coordinations</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                {% url 'overview' as overview_url %}
                <a class="w-fit-content nav-link nav-link-underline link-dark {% if request.path == overview_url %} nav-active{% endif %}"
                   href="{{ overview_url }}">Your Overview</a>
              </li>
            {% endif %}
          </ul>
          <div class="col-md-3 text-lg-end">
            <hr class="d-lg-none"/>
            {% if user.is_authenticated %}
              <a class="nav-link nav-link-underline link-dark d-inline-flex w-fit-content"
                 href="{% url 'settings' %}">Settings<i class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="20"
                     height="20"
                     fill="currentColor"
                     class="bi bi-gear-fill"
                     viewBox="0 0 16 16">
                  <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
              </i>
            </a>
            <div class="d-lg-none my-2"></div>
            <span class="mx-2 d-none d-lg-inline">|</span>
            <a class="nav-link nav-link-underline link-dark d-inline-flex w-fit-content"
               href="{% url 'logout' %}?next={{ request.path | urlencode }}">Logout<i class="ms-1">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="20"
                   height="20"
                   fill="currentColor"
                   class="bi bi-box-arrow-right"
                   viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
            </i>
          </a>
        {% else %}
          <a class="nav-link nav-link-underline link-dark d-inline-block"
             data-bs-toggle="modal"
             data-bs-target="#loginModal"
             href="#loginModal">Login</a>
          <span>/</span>
          <a class="nav-link nav-link-underline link-dark d-inline-block"
             data-bs-toggle="modal"
             data-bs-target="#registerModal"
             href="#registerModal">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
{% block content %}
{% endblock content %}
<footer class="footer mt-auto py-3 bg-white border">
  <div class="container text-center">
    <span class="text-muted">Powered by</span>
    <a href="https://libre.space/">Libre Space Foundation</a>
  </div>
</footer>
<!-- Login Modal -->
<div class="modal fade"
     id="loginModal"
     tabindex="-1"
     aria-labelledby="loginModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content pb-2 w-75 mx-auto">
      <div class="modal-header px-4">
        <h3 class="modal-title fs-5" id="loginModalLabel">Log In</h3>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body px-4">
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          {% login_form id_prefix="modal_" %}
          <button class="mt-3 mb-2 w-100 btn btn-primary" type="submit">Log in</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Register Modal -->
<div class="modal fade"
     id="registerModal"
     tabindex="-1"
     aria-labelledby="registerModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content pb-2">
      <div class="modal-header px-4">
        <h3 class="modal-title fs-5" id="registerModalLabel">Register</h3>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body px-4">
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          {% registration_form id_prefix="modal_" %}
        </form>
      </div>
    </div>
  </div>
</div>
{% compress js %}
  <script type="module" src="{% static 'js/app.js' %}"></script>
{% endcompress %}
{% block javascript %}
{% endblock javascript %}
</body>
</html>
