{% extends "base.html" %}
{% load static %}
{% block title %}
  - Settings
{% endblock title %}
{% block content %}
  <div class="container px-md-5 py-5 my-5 card">
    <h1 class="mb-5">Settings</h1>
    <div class="d-flex bg-white border rounded-2 px-3 py-2 mb-3 ">
      <span class="h-100 fs-4 mb-0 me-3">></span>
      <a href="{% url 'password_change' %}" class="my-auto mx-0">Change Password</a>
    </div>
  </div>
{% endblock content %}
