{% if form.non_field_errors %}
  <div class="alert alert-danger form-errors" role="alert">{{ form.non_field_errors }}</div>
{% endif %}
{% if form.username.errors %}<div class="alert-danger field-errors">{{ form.username.errors }}</div>{% endif %}
<input type="hidden" name="next" value="{{ request.GET.next }}" />
<div class="form-floating">
  <input type="text"
         class="form-control rounded-0 rounded-top form-field-small-height"
         id="{{ id_prefix }}{{ form.username.id_for_label }}"
         name="{{ form.username.name }}"
         placeholder="Callsign"
         maxlength="{{ form.username.field.max_length }}"
         required/>
  <label class="text-muted"
         for="{{ id_prefix }}{{ form.username.id_for_label }}">Callsign</label>
</div>
{% if form.password.errors %}<div class="alert-danger field-errors">{{ form.password.errors }}</div>{% endif %}
<div class="form-floating mb-3">
  <input type="password"
         class="form-control rounded-0 rounded-bottom form-field-small-height"
         id="{{ id_prefix }}{{ form.password.id_for_label }}"
         name="{{ form.password.name }}"
         placeholder="Password"
         autocomplete="current-password"
         required/>
  <label class="text-muted"
         for="{{ id_prefix }}{{ form.password.id_for_label }}">Password</label>
</div>
<a class="ms-1" href="{% url 'password_reset' %}">Forgot your password?</a>
