{% extends "base.html" %}
{% block title %}
  - Log In
{% endblock title %}
{% block content %}
  <div class="container mt-5 full-page-container">
    <div class="card m-auto">
      <div class="card-body px-5 py-4">
        <h3 class="card-title text-center mt-1 mb-3 fw-normal">Log In</h3>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          {% include "registration/forms/login.html" %}
          <button class="mt-3 mb-2 w-100 btn btn-primary" type="submit">Log in</button>
        </form>
        <span class="d-inline-block w-100 text-center">Or</span>
        <a class="mt-2 w-100 btn btn-outline-primary border border-primary border-2"
           href="{% url 'register' %}">Register</a>
      </div>
    </div>
  </div>
{% endblock content %}
