{% extends "base.html" %}
{% block title %}
  - Register
{% endblock title %}
{% block content %}
  <div class="container full-page-container mt-5">
    <div class="card m-auto">
      <div class="card-body px-5 py-4">
        <h3 class="card-title text-center mt-1 mb-3 fw-normal">Register</h3>
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          {{ form }}
        </form>
        <span class="d-inline-block w-100 text-center">Or</span>
        <a class="mt-2 w-100 btn btn-outline-primary border border-primary border-2"
           href="{% url 'login' %}">Log In</a>
      </div>
    </div>
  </div>
{% endblock content %}
