{% extends "base.html" %}
{% load static %}
{% block title %}
  - Coordinations
{% endblock title %}
{% block content %}
  <div class="container px-md-5 py-5 my-5 card">
    <h1 class="mb-5">Coordinations</h1>
    <ul class="nav nav-tabs" id="coordTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active"
                id="under-review"
                data-bs-toggle="tab"
                data-bs-target="#under-review-tab-pane"
                type="button"
                role="tab"
                aria-controls="under-review-tab-pane"
                aria-selected="true">
          Pending Review
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="accepted-tab"
                data-bs-toggle="tab"
                data-bs-target="#accepted-tab-pane"
                type="button"
                role="tab"
                aria-controls="accepted-tab-pane"
                aria-selected="false">
          Accepted
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="declined-tab"
                data-bs-toggle="tab"
                data-bs-target="#declined-tab-pane"
                type="button"
                role="tab"
                aria-controls="declined-tab-pane"
                aria-selected="false">
          Declined
        </button>
      </li>
    </ul>
    {% regroup coordinations by get_status_display as grouped_coordinations %}
    <div class="tab-content" id="coordTabContent">
      {% for group in grouped_coordinations %}
        <div class="table-responsive tab-pane fade {% if group.grouper|slugify == 'under-review' %} show active{% endif %} py-3"
             id="{{ group.grouper|slugify }}-tab-pane"
             role="tabpanel"
             aria-labelledby="{{ group.grouper|slugify }}-tab"
             tabindex="0">
          {% include "./includes/applications_table.html" with coordinations=group.list %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
{% block javascript %}
  <script type="module" src="{% static 'js/coord-tabs.js' %}"></script>
{% endblock javascript %}
