{% extends "base.html" %}
{% load static %}
{% load utility_filters %}
{% block title %}
  - {{ coordination.mission_name }}
{% endblock title %}
{% block content %}
  <div class="container px-md-5 py-5 my-5 card">
    <a class="d-flex align-items-center mb-5 text-decoration-on-hover w-fit-content"
       href="{{ back_url }}">
      <i class="me-3">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="25"
             height="25"
             fill="currentColor"
             class="bi bi-arrow-left-circle"
             viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
      </i>
      Back to list
    </a>
    {% if show_review_tools %}
      <div class="collapse mb-3 {% if review_form_open %}show{% endif %}"
           id="review-container">
        {% include "./includes/coordinations_review.html" with form=review_form coord=coordination %}
      </div>
    {% endif %}
    <h1 class="mb-4">
      {{ coordination.mission_name }}
      <br />
      <span class="fs-6 align-middle badge badge-color-for-status-{{ coordination.status }} fw-normal">
        {% if show_revisions %}
          {{ coordination.get_detailed_status_display }}
        {% else %}
          {{ coordination.get_status_display }}
        {% endif %}
      </span>
      {% if show_review_tools or show_revise_tools %}
        <i>
          <svg xmlns="http://www.w3.org/2000/svg"
               width="16"
               height="16"
               fill="currentColor"
               class="bi bi-arrow-bar-left"
               viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
          </svg>
        </i>
      {% endif %}
      {% if show_review_tools %}
        <button type="button"
                data-bs-toggle="collapse"
                data-bs-target="#review-container"
                aria-expanded="{{ review_form_open|js_bool }}"
                aria-controls="review-container"
                class="btn btn-outline-dark">
          <i class="me-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="20"
                 height="20"
                 fill="currentColor"
                 class="bi bi-card-checklist"
                 viewBox="0 0 16 16">
              <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
              <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
            </svg>
          </i>Review Coordination
        </button>
      {% elif show_revise_tools %}
        <a href="{% url 'coordination-revise' coord_id=coordination.id %}"
           class="btn btn-outline-dark">
          <i class="me-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="20"
                 height="20"
                 fill="currentColor"
                 class="bi bi-pencil-square"
                 viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </i>Revise Coordination
        </a>
      {% endif %}
    </h1>
    <div class="container-fluid">
      <div class="row flex-row-reverse mb-5">
        <div class="ps-lg-3 p-0 col-12 col-lg-6">
          <table class="ms-n2 m-lg-0 table table-borderless">
            <tr>
              <th class="pt-0" scope="row">
                <span>Supporting Organization:</span>
              </th>
              <td class="pt-0">
                <span>{{ coordination.supporting_organization }}</span>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <span>Date of Application:</span>
              </th>
              <td>
                <span>{{ coordination.date|date:"M d, Y" }}</span>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <span>Operator Responsible:</span>
              </th>
              <td>
                <span>{{ coordination.operator_responsible.get_full_name }} - {{ coordination.operator_responsible.callsign }}</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="pe-lg-3 p-0 col-12 col-lg-6">
          <div id="coord-description-div">
            <p class="collapse mb-1" id="coord-description">{{ coordination.description }}</p>
            <div id="expander-container" class="d-none">
              <a class="collapsed"
                 data-bs-toggle="collapse"
                 href="#coord-description"
                 aria-expanded="false"
                 aria-controls="coord-description"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="pe-lg-3 p-0 col-12 col-lg-6">
          {% if show_revisions %}
            <div class="accordion" id="revisions">
              <h2 class="mb-3 h3">Revisions</h2>
              <div class="d-flex flex-column-reverse">
                {% for rev in coordination.revisions.all %}
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="revision-heading-{{ rev.id }}">
                      <button class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#revision-collapse-{{ rev.id }}"
                              aria-expanded="false"
                              aria-controls="revision-collapse-{{ rev.id }}">
                        Revision #{{ rev.revision_number }} - {{ rev.date }}
                      </button>
                    </h3>
                    <div id="revision-collapse-{{ rev.id }}"
                         class="accordion-collapse collapse"
                         aria-labelledby="revision-heading-{{ rev.id }}"
                         data-bs-parent="#revisions">
                      <div class="accordion-body">
                        <div class="mb-3">
                          <a href="{{ rev.file.url }}">Download file
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="16"
                                 height="16"
                                 fill="currentColor"
                                 class="bi bi-download ms-2 pb-1"
                                 viewBox="0 0 16 16">
                              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                          </a>
                        </div>
                        {% if rev.comments %}
                          <div>
                            <strong>Comments:
                              <br/>
                            </strong>
                            {{ rev.comments }}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% empty %}
                  No revisions to display
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
        <div class="ps-lg-3 p-0 col-12 col-lg-6">
          <div class="accordion" id="beams">
            <h2 class="mb-3 h3">Beams</h2>
            {% for beam in coordination.beams.all %}
              <div class="accordion-item">
                <h3 class="accordion-header" id="beam-heading-{{ beam.id }}">
                  <button class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#beam-collapse-{{ beam.id }}"
                          aria-expanded="false"
                          aria-controls="beam-collapse-{{ beam.id }}">
                    {{ beam.get_direction_display }} - {{ beam.get_modulation_display }} - {{ beam.get_band_display }}
                  </button>
                </h3>
                <div id="beam-collapse-{{ beam.id }}"
                     class="accordion-collapse collapse"
                     aria-labelledby="beam-heading-{{ beam.id }}"
                     data-bs-parent="#beams">
                  <div class="accordion-body">
                    <table class="table table-borderless mx-n2">
                      <tr>
                        <th scope="row">
                          <span>Direction:</span>
                        </th>
                        <td>
                          <span>{{ beam.get_direction_display }}</span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <span>Modulation:</span>
                        </th>
                        <td>
                          <span>{{ beam.get_modulation_display }}</span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <span>Band:</span>
                        </th>
                        <td>
                          <span>{{ beam.get_band_display }}</span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <span>Service Area:</span>
                        </th>
                        <td>
                          <span>{{ beam.service_area }}</span>
                        </td>
                      </tr>
                    </table>
                    {{ beam.description }}
                  </div>
                </div>
              </div>
            {% empty %}
              <span>No beams for this coordination</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascript %}
  <script src="{% static 'js/coord-detail-description.js'%}"></script>
{% endblock javascript %}
