{% extends "coordinations/coordinations_form_base.html" %}
{% load widget_tweaks %}
{% block title %}
  - Revise Coordination
{% endblock title %}
{% block form_header %}
  Revise Coordination
{% endblock form_header %}
{% block form_action %}
  action="{% url 'coordination-revise' coord_id=coord.id %}"
{% endblock form_action %}
{% block beams %}
  {% render_field beam_delete_form.beams_to_delete hidden="hidden" %}
  <div id="beam-forms-container" class="d-flex flex-column-reverse">
    {% if beam_formset.non_field_errors %}
      <div class="alert alert-danger form-errors" role="alert">{{ beam_formset.non_field_errors }}</div>
    {% endif %}
    {% for form in beam_formset %}
      {% include "./forms/existing_beam_form.html" with form=form loop_idx=forloop.counter0 %}
    {% endfor %}
    {% if beam_formset.initial_form_count %}
      <h3 class="mb-3">Existing Beams</h3>
      <hr />
    {% endif %}
  </div>
{% endblock beams %}
