{% extends "base.html" %}
{% load utility_filters %}
{% block title %}
  - Overview
{% endblock title %}
{% block content %}
  <div class="container px-md-5 py-5 my-5 card">
    <h1 class="mb-5">Overview</h1>
    <ul class="nav nav-tabs d-flex" id="rev-tabs" role="tablist">
      <li class="nav-item {% if has_unaddressed_cords %}order-1 {% else %}order-3{% endif %}"
          role="presentation">
        <button class="nav-link position-relative {% if has_unaddressed_cords %}active {% else %}disabled{% endif %}"
                id="unaddressed-coords-pane-tab"
                data-bs-toggle="tab"
                data-bs-target="#unaddressed-coords-pane"
                type="button"
                role="tab"
                aria-controls="unaddressed-coords-pane"
                aria-selected="{{ has_unaddressed_cords|js_bool }}"
                aria-disabled="{{ has_unaddressed_cords|js_bool_negated }}">
          Unaddressed Revisions
          {% if has_unaddressed_cords %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ unaddressed_coords|length }}
              <span class="visually-hidden">Unaddressed Revisions</span>
            </span>
          {% endif %}
        </button>
      </li>
      <li class="nav-item order-2" role="presentation">
        <button class="nav-link position-relative  {% if not has_new_coords %}disabled{% elif not has_unaddressed_cords %}active{% endif %}"
                id="new-coords-pane-tab"
                data-bs-toggle="tab"
                data-bs-target="#new-coords-pane"
                type="button"
                role="tab"
                aria-controls="new-coords-pane"
                aria-selected="{{ has_new_coords|js_bool }}"
                aria-disabled="{{ has_new_coords|js_bool_negated }}">
          New Applications
          {% if has_new_coords %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ new_coords|length }}
              <span class="visually-hidden">New Applications</span>
            </span>
          {% endif %}
        </button>
      </li>
    </ul>
    <div class="tab-content" id="rev-tabs-content">
      {% if has_unaddressed_cords %}
        <div class="table-responsive tab-pane fade show active py-3"
             id="unaddressed-coords-pane"
             role="tabpanel"
             aria-labelledby="unaddressed-coords-pane-tab"
             tabindex="0">
          {% include "../coordinations/includes/applications_table.html" with coordinations=unaddressed_coords back="overview" %}
        </div>
      {% endif %}
      {% if has_new_coords %}
        <div class="table-responsive tab-pane fade {% if not has_unaddressed_cords %} show active{% endif %} py-3"
             id="new-coords-pane"
             role="tabpanel"
             aria-labelledby="new-coords-pane-tab"
             tabindex="0">
          {% include "../coordinations/includes/applications_table.html" with coordinations=new_coords back="overview" %}
        </div>
      {% endif %}
      {% if not has_unaddressed_cords and not has_new_coords %}<div class="p-3 fs-4">Nothing new</div>{% endif %}
    </div>
    <a href="{% url 'coordination-new' %}"
       class="my-5 d-flex align-items-center btn btn-outline-primary w-fit-content  border border-primary border-2">
      <i class="align-middle me-3">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="25"
             height="25"
             fill="currentColor"
             class="bi bi-plus-circle"
             viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
      </i>Create New Application
    </a>
  </div>
{% endblock content %}
