{% extends "base.html" %}
{% load utility_filters %}
{% block title %}
  - Overview
{% endblock title %}
{% block content %}
  <div class="container px-md-5 py-5 my-5 card">
    <h1 class="mb-5">Overview</h1>
    <ul class="nav nav-tabs d-flex" id="rev-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link position-relative {% if has_coords %}active {% else %}disabled{% endif %}"
                id="all-coords-pane-tab"
                data-bs-toggle="tab"
                data-bs-target="#all-coords-pane"
                type="button"
                role="tab"
                aria-controls="all-coords-pane"
                aria-selected="{{ has_coords|js_bool }}"
                aria-disabled="{{ has_coords|js_bool_negated }}">
          All your coordinations
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link position-relative  {% if not has_need_change %}disabled{% endif %}"
                id="need-change-pane-tab"
                data-bs-toggle="tab"
                data-bs-target="#need-change-pane"
                type="button"
                role="tab"
                aria-controls="need-change-pane"
                aria-selected="false"
                aria-disabled="{{ has_need_change|js_bool_negated }}">
          Need Change
          {% if has_need_change %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ need_change|length }}
              <span class="visually-hidden">Need Change</span>
            </span>
          {% endif %}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link position-relative  {% if not has_accepted %}disabled{% endif %}"
                id="accepted-pane-tab"
                data-bs-toggle="tab"
                data-bs-target="#accepted-pane"
                type="button"
                role="tab"
                aria-controls="accepted-pane"
                aria-selected="false"
                aria-disabled="{{ has_accepted|js_bool_negated }}">
          Accepted
          {% if has_accepted %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ accepted|length }}
              <span class="visually-hidden">Accepted</span>
            </span>
          {% endif %}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link position-relative  {% if not has_declined %}disabled{% endif %}"
                id="declined-pane-tab"
                data-bs-toggle="tab"
                data-bs-target="#declined-pane"
                type="button"
                role="tab"
                aria-controls="declined-pane"
                aria-selected="false"
                aria-disabled="{{ has_declined|js_bool_negated }}">
          Declined
          {% if has_declined %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ declined|length }}
              <span class="visually-hidden">New Declined</span>
            </span>
          {% endif %}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link position-relative  {% if not has_pending_review %}disabled{% endif %}"
                id="pending-review-pane-tab"
                data-bs-toggle="tab"
                data-bs-target="#pending-review-pane"
                type="button"
                role="tab"
                aria-controls="pending-review-pane"
                aria-selected="false"
                aria-disabled="{{ has_pending_review|js_bool_negated }}">
          Pending Review
          {% if has_pending_review %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ pending_review|length }}
              <span class="visually-hidden">New Declined</span>
            </span>
          {% endif %}
        </button>
      </li>
    </ul>
    <div class="tab-content" id="rev-tabs-content">
      {% if has_coords %}
        <div class="table-responsive tab-pane fade show active py-3"
             id="all-coords-pane"
             role="tabpanel"
             aria-labelledby="all-coords-pane-tab"
             tabindex="0">
          {% include "../coordinations/includes/applications_table.html" with coordinations=coords back="overview" %}
        </div>
      {% endif %}
      {% if has_need_change %}
        <div class="table-responsive tab-pane fade py-3"
             id="need-change-pane"
             role="tabpanel"
             aria-labelledby="need-change-pane-tab"
             tabindex="0">
          {% include "../coordinations/includes/applications_table.html" with coordinations=need_change back="overview" %}
        </div>
      {% endif %}
      {% if has_accepted %}
        <div class="table-responsive tab-pane fade py-3"
             id="accepted-pane"
             role="tabpanel"
             aria-labelledby="accepted-pane-tab"
             tabindex="0">
          {% include "../coordinations/includes/applications_table.html" with coordinations=accepted back="overview" %}
        </div>
      {% endif %}
      {% if has_declined %}
        <div class="table-responsive tab-pane fade py-3"
             id="declined-pane"
             role="tabpanel"
             aria-labelledby="declined-pane-tab"
             tabindex="0">
          {% include "../coordinations/includes/applications_table.html" with coordinations=declined back="overview" %}
        </div>
      {% endif %}
      {% if has_pending_review %}
        <div class="table-responsive tab-pane fade py-3"
             id="pending-review-pane"
             role="tabpanel"
             aria-labelledby="pending-review-pane-tab"
             tabindex="0">
          {% include "../coordinations/includes/applications_table.html" with coordinations=pending_review back="overview" %}
        </div>
      {% endif %}
      {% if not has_coords %}<div class="p-3 fs-4">No coordinations to display</div>{% endif %}
    </div>
    <a href="{% url 'coordination-new' %}"
       class="my-5 d-flex align-items-center btn btn-outline-primary w-fit-content  border border-primary border-2">
      <i class="align-middle me-3">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="25"
             height="25"
             fill="currentColor"
             class="bi bi-plus-circle"
             viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
      </i>Create New Application
    </a>
  </div>
{% endblock content %}
