{% extends "admin/base.html" %}
{% load static %}
{% block title %}
  {% if subtitle %}{{ subtitle }} |{% endif %}
  IARU Admin
{% endblock title %}
{% block extrahead %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
{% endblock extrahead %}
{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">IARU Satellite Coordination Administration</a>
  </h1>
{% endblock branding %}
{% block nav-global %}
{% endblock nav-global %}
