{% extends "coordinations/forms/beam_form_base.html" %}
{% block buttons %}
  <button data-parent-form="form-beams-{{ loop_idx }}"
          data-beam-id="{{ form.id.value }}"
          type="button"
          class="d-block mx-auto ms-lg-3 my-3 my-lg-auto btn btn-danger delete-beam-form-button">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="25"
         height="25"
         fill="currentColor"
         class="bi bi-trash3"
         viewBox="0 0 16 16">
      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
    </svg>
    <span class="d-inline-block ms-1">Delete Beam</span>
  </button>
  <button data-parent-form="form-beams-{{ loop_idx }}"
          data-beam-id="{{ form.id.value }}"
          type="button"
          class="d-none mx-auto ms-lg-3 my-3 my-lg-auto btn btn-outline-secondary restore-beam-form-button">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="25"
         height="25"
         fill="currentColor"
         class="bi bi-arrow-counterclockwise"
         viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
      <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
    </svg>
    <span class="d-inline-block ms-1">Undo Delete</span>
  </button>
{% endblock buttons %}
{% block delete_overlay %}
  <div id="crossed-out-overlay-{{ loop_idx }}"
       class="fade d-none crossed-out-overlay position-absolute w-100 h-100"
       style="z-index: 5;
              background-color: rgba(255, 255, 255, .5)">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="100%"
         height="100%"
         fill="#d63412"
         class="bi bi-x-lg"
         viewBox="0 0 16 16">
      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
    </svg>
  </div>
{% endblock delete_overlay %}
