{% load widget_tweaks %}
{% if form.non_field_errors %}
  <div class="alert alert-danger form-errors" role="alert">{{ form.non_field_errors }}</div>
{% endif %}
{% if form.mission_name.errors %}<div class="alert-danger field-errors">{{ form.mission_name.errors }}</div>{% endif %}
{% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
<div class="form-floating mb-3">
  {{ form.mission_name }}
  <label class="text-muted" for="{{ form.mission_name.id_for_label }}">Mission Name</label>
</div>
{% if form.supporting_organization.errors %}
  <div class="alert-danger field-errors">{{ form.supporting_organization.errors }}</div>
{% endif %}
<div class="form-floating mb-3">
  {{ form.supporting_organization }}
  <label class="text-muted"
         for="{{ form.supporting_organization.id_for_label }}">Supporting Organization</label>
</div>
{% if form.description.errors %}<div class="alert-danger field-errors">{{ form.description.errors }}</div>{% endif %}
<div class="form-floating mb-3">
  {% render_field form.description class+="large-textarea" %}
  <label class="text-muted" for="{{ form.description.id_for_label }}">Description</label>
</div>
