.full-page-container, .full-page-container-lg {
    width: 100%;
}

@include media-breakpoint-up(lg) {

    .full-page-container, .full-page-container-lg {
        width: 50%;
    }
}

@include media-breakpoint-up(xxl) {

    .full-page-container {
        width: 25%;
    }
}
