.form-errors {

    & > ul {
        margin-bottom: 0;
    }
}

.field-errors {
    margin-bottom: 0;

    & > ul {
        padding-left: $spacer;
        margin-bottom: 0;
        margin-top: $spacer;

        & > li {
            color: var(--bs-alert-color);
        }
    }
}

.field-errors > ul > li::marker {
    content: "* ";
}

textarea.form-control.large-textarea {
    height: 9rem;
}
