// Color for status 'Accepted'

.badge-color-for-status-a {
    @extend .text-bg-success;
}

// Color for status 'Under review'

.badge-color-for-status-r {
    @extend .text-bg-warning;
}

// Color for status 'Declined'

.badge-color-for-status-d {
    @extend .text-bg-danger;
}

// Collapsible description paragraph

#coord-description-div p.collapse:not(.show) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

#coord-description-div a.collapsed:after {
    content: "+ Read More";
}

#coord-description-div a:not(.collapsed):after {
    content: "- Read Less";
}
