#map-background {
    height: 667px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
    top: 8%;
}

.form-control.form-field-small-height {
    height: 3.1875rem;
}
